.registration-view_logo {
    width: 10em;
    margin: 2em;
}

.image-container {
    text-align: center;
}

.form-container {
    max-width: 450px;
    margin: auto;
}

.button {
    margin-top: 15px;
    
}