.registration-view_logo {
    width: 10em;
    margin: 2em;
}

.image-container {
    text-align: center;
}

.form-container {
    max-width: 450px;
    margin: auto;
}

.button {
    margin-top: 15px;
    
}

.registration-background-container {
    // background-image: 
    // radial-gradient(ellipse,rgba(0, 0, 0, 0.18),rgba(20, 20, 20, 1)),
    // url("../../images/1x/Artboard\ 1.png");
    // background-repeat: no-repeat;
    // background-size:cover;
    // height: 100%;
    // background-position: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.502) !important;
    border-style: none !important;
    color:rgb(255, 255, 255); 
}

.card-body {
    padding: 4em !important;
}