$color: #34a8eb;

.login-container {
    background-image: 
    radial-gradient(ellipse,rgba(0, 0, 0, 0.18),rgba(20, 20, 20, 1)),
    url("../../images/Screenshot\ 2022-02-06\ at\ 20.24.20.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
}

