$color: #34a8eb;

.login-container {
   
}



.card {
    background-color: rgba(0, 0, 0, 0.502) !important;
    border-style: none !important;
    color:rgb(255, 255, 255); 
}

.card-body {
    padding: 4em !important;
}